<h2 class="title">
    {{project?.name}}
    <mat-icon 
      *ngIf="authS.role() !== 'WORKER'"  
      class="iconEdit" 
      [routerLink]="['/auth/projects/edit/', project?.id]">
        edit
    </mat-icon>
</h2>

<div class="row">
    <div class="col-md-3">
        <div class="row">

            <div class="col-6 col-md-12">
                <mat-card class="card text-center">           
                    <mat-card-title>
                        <mat-icon class="icon ">work</mat-icon>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="text-icon"> {{project?.budget }}</p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-6 col-md-12">
                <mat-card class="card text-center">
                    <mat-card-title>
                        <mat-icon class="icon">monetization_on</mat-icon>
                    </mat-card-title>
                    <mat-card-content>
                        <p class="text-icon">{{project?.tasks_cost }}</p>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>     
    </div>

    <div class="col-md-9">
        <mat-card class="card">
            <mat-card-content>
                <p><strong>Client:</strong>  {{project?.client?.name}}</p>
                <p> <strong>Number of users:</strong> {{project?.assignees}}</p>
                <button *ngIf="authS.role() !== 'WORKER'" mat-raised-button class="button-report" [routerLink]="['/auth/projects/raport/', project?.id]">Reports</button>
                <button mat-raised-button class="button-report documents" [routerLink]="['/auth/projects/document', project?.id]">Documents</button>
            </mat-card-content>
        </mat-card>
    </div>

</div>