<div class="container">

    <h2 class="title"> Add user</h2>
    <mat-card class="card">
        <mat-card-content>
            <form 
              [formGroup]="userForm" 
              (ngSubmit)="addUser()" 
              class="example-form row">

                <mat-form-field class="col-md-6">
                    <mat-label>E-mail</mat-label>
                    <input 
                      matInput 
                      placeholder="E-mail" 
                      formControlName="email" 
                      name="email" 
                      required>
                    <mat-error 
                      *ngIf="validators.isInvalid('email')">
                      {{ validators.getErrorMessage('email') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <mat-label>Name</mat-label>
                    <input 
                      matInput 
                      placeholder="Name" 
                      formControlName="name" 
                      name="name" 
                      required>
                    <mat-error 
                      *ngIf="validators.isInvalid('name')">
                      {{ validators.getErrorMessage('name') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <mat-label>Password</mat-label>
                    <input 
                      matInput 
                      formControlName="password" 
                      type="password" 
                      name="password" 
                      required>
                    <mat-error 
                      *ngIf="validators.isInvalid('password')">
                      {{ validators.getErrorMessage('password') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <mat-label>Password confirm</mat-label>
                    <input 
                      matInput placeholder="Password confirm" 
                      type="password"
                      formControlName="password_confirmation" 
                      name="password_confirmation" 
                      required>
                    <mat-error 
                      *ngIf="validators.isInvalid('password_confirmation')">
                      {{ validators.getErrorMessage('password_confirmation')}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <mat-label>Hourly rate</mat-label>
                    <input 
                      matInput 
                      placeholder="Hourly rate" 
                      type="number" 
                      formControlName="hr_wage" 
                      name="hr_wage">
                    <mat-error 
                      *ngIf="validators.isInvalid('hr_wage')">
                      {{ validators.getErrorMessage('hr_wage')}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <mat-label>Project</mat-label>
                    <input 
                      matInput 
                      placeholder="Project" 
                      formControlName="project_id" 
                      name="project_id" 
                      required>
                    <mat-error 
                      *ngIf="validators.isInvalid('project_id')">
                      {{ validators.getErrorMessage('project_id') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <mat-label>Phone</mat-label>
                    <input 
                      matInput 
                      placeholder="Phone" 
                      formControlName="phone" 
                      name="phone">
                    <mat-error 
                      *ngIf="validators.isInvalid('phone')">
                      {{ validators.getErrorMessage('phone') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <mat-label>Birth date</mat-label>
                    <input 
                      matInput 
                      [matDatepicker]="picker" 
                      formControlName="birth_date"
                      (dateInput)="first($event.value.format('YYYY-MM-D'))">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error 
                      *ngIf="validators.isInvalid('birth_date')">
                      {{ validators.getErrorMessage('birth_date') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <mat-label>Role</mat-label>
                    <mat-select 
                      formControlName="role" 
                      required>
                        <mat-option 
                          *ngFor="let role of roles" 
                          [value]="role.value">
                          {{role.label}}
                        </mat-option>
                    </mat-select>
                    <mat-error 
                      *ngIf="validators.isInvalid('role')">
                      {{ validators.getErrorMessage('role') }}
                    </mat-error>
                </mat-form-field>

                <mat-card-actions align="end" class="col-md-12">
                    <button 
                      mat-raised-button 
                      [disabled]="userForm.invalid" 
                      type="submit" 
                      class="button-add">
                        Create User
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>