/* .card {
    margin: 20px auto;
    max-width: 550px;
}

@media only screen and (max-width: 600px) {
    .card {
      margin: 20px 70px;
    }
  }
@media only screen and (max-width: 400px) {
    .card {
      margin: 20px 20px;
    }
} */

.container {
  padding: 30px 70px;
}

.card {
  padding: 20px;
}
.mat-form-field{
  padding: 4px 26px;
}
.title {
    color: #FFBF29;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.button-add {
    margin-right: 40px !important;
}
  
  /* Change label color on focused */
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #FFBF29 !important;
  }
  
  /* underline border color on focused */
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #FFBF29 !important;
  }

  ::ng-deep .mat-input-element {
    caret-color: #FFBF29 !important;
  }

 

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #FFBF29 !important;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color:#FFBF29 !important;
}

::ng-deep .mat-calendar-body-selected  {
    background-color: #FFBF29 !important;
}

::ng-deep .mat-datepicker-toggle-active {
    color: #FFBF29 !important;
}


::ng-deep .color-snackbar {
    background: #FFBF29 !important;
    color: white;
    position: absolute !important;
    top: 54px;
    right: 20px;
}

.mat-button, .mat-raised-button{
    background-color:#FFBF29;
} 