<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <span>TASKAGER </span>
        <span class="example-spacer"></span>
        <span *ngIf="authS.role() === 'ADMIN'"  routerLink="/auth/projects" class="item">Projects</span>
        <span *ngIf="authS.role() !== 'ADMIN'"  routerLink="/auth/projects/show" class="item">Project</span>
        <span *ngIf="authS.role() === 'ADMIN'"  routerLink="/auth/users" class="item">Users</span>
        <span *ngIf="authS.role() !== 'ADMIN'"  routerLink="/auth/users" class="item">Project users</span>
        <span *ngIf="authS.role() === 'ADMIN'" routerLink="/auth/users/create" class="item">Add User</span>
        <span routerLink="/auth/profile" class="item">Profile</span>
        <button mat-raised-button class="button-log-out" (click)="logOut()"> Log out</button>
    </mat-toolbar-row>
</mat-toolbar>
