.example-spacer {
    flex: 1 1 auto;
  }
.item {
    margin: 0 20px;
    cursor: pointer;
}
.toolbar {
  background-color: #FFBF29;
  color:white;
  font-size: 18px;
}
.button-log-out {
  background-color: #303030;
  color:white;
}