<div class="container">

    <h2 class="title">
        {{user?.name}}
    </h2>
    <div class="col-md-12">
        <mat-card class="card">
            <mat-card-content>
                <div class="row">
                    <div class="col-md-2 text-center">
                        <mat-icon [svgIcon]="setIcon(user?.roles[0]?.name)" class="icon-custom"></mat-icon>
                    </div>
                    <div class="col-md-10">
                        <div>
                            <p class="name">User details</p>
                            
                            <form 
                            [formGroup]="userForm" 
                            (ngSubmit)="editUser()" 
                            class="example-form row">

                                <mat-form-field class="col-md-6">
                                    <mat-label>Name</mat-label>
                                    <input 
                                      matInput 
                                      placeholder="Name" 
                                      formControlName="name" 
                                      name="name" 
                                      required>
                                    <mat-error 
                                      *ngIf="validators.isInvalid('name')">
                                      {{ validators.getErrorMessage('name') }}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-6">
                                    <mat-label>Phone</mat-label>
                                    <input 
                                      matInput 
                                      placeholder="Phone" 
                                      formControlName="phone" 
                                      name="phone">
                                    <mat-error 
                                      *ngIf="validators.isInvalid('phone')">
                                      {{ validators.getErrorMessage('phone') }}
                                    </mat-error>
                                </mat-form-field>
    
                                <mat-form-field class="col-md-6">
                                    <mat-label>Birth date</mat-label>
                                    <input 
                                      matInput 
                                      [matDatepicker]="picker" 
                                      formControlName="birth_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error 
                                      *ngIf="validators.isInvalid('birth_date')">
                                      {{ validators.getErrorMessage('birth_date') }}
                                    </mat-error>
                                </mat-form-field>

                                <mat-card-actions align="end" class="col-md-12">
                                    <button 
                                      mat-raised-button 
                                      type="submit" 
                                      class="button-add">
                                        Save
                                    </button>
                                </mat-card-actions>
                                </form>
                               
                            </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>