<div class="container">
    <h2 class="title"> Edit project</h2>
    <mat-card class="card">

        <mat-card-content>
            <form [formGroup]="EditProjectForm" (ngSubmit)="editProject()" class="example-form row">
                <mat-form-field class="col-md-6">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name" name="name" required>
                    <mat-error *ngIf="name.invalid">{{getErrorMessage('name')}}</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>Budget</mat-label>
                    <input matInput type="number" placeholder="Budget" formControlName="budget" name="budget" required>
                    <mat-error *ngIf="budget.invalid">{{getErrorMessage('budget')}}</mat-error>
                </mat-form-field>
                <mat-card-actions align="end" class="col-md-12">
                    <button mat-raised-button [disabled]="EditProjectForm.invalid" type="submit" class="button-add">
                        Save Project
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>