<div class="container">

    <h2 class="title">
        <mat-icon class="iconBack" [routerLink]="['/auth/projects/show/', idProject]">arrow_back_ios</mat-icon>
        Documents
    </h2>
    <div class="col-md-12">
        <mat-card class="card">
            <mat-card-content>
                <p class="name">Add new document</p>
                <form [formGroup]="documentForm" (ngSubmit)="addDocument()" class="example-form row form">
                    <div class="col-md-4">
                        <input (change)="fileChange($event)" placeholder="Document" name="document" type="file"
                            required>
                        <!--  <mat-error 
                      *ngIf="validators.isInvalid('email')">
                      {{ validators.getErrorMessage('email') }}
                    </mat-error> -->
                    </div>
                    <mat-form-field class="col-md-8">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Description" formControlName="description" name="description"
                            >
                        <!--  <mat-error 
                          *ngIf="validators.isInvalid('email')">
                          {{ validators.getErrorMessage('email') }}
                        </mat-error> -->
                    </mat-form-field>


                    <mat-card-actions align="end" class="col-md-12">
                        <button mat-raised-button [disabled]="documentForm.invalid" type="submit" class="button-add">
                            Add Document
                        </button>
                    </mat-card-actions>

                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-12" *ngFor="let dokument of documents">
        <mat-card class="card">
            <mat-card-content>
                <div>
                    <span class="icon-edit-doc" *ngIf="!isEditEnable && !isAddEnable">
                        <!--                         <mat-icon                                 
                            (click)="enableEditing(dokument.id)">
                            edit
                        </mat-icon> -->
                        <mat-icon (click)="openDialog(dokument.id)">
                            delete
                        </mat-icon>
                    </span>
                    <!--                     <span class="icon-edit-task"                        
                          *ngIf="task.isEdit"  >
                        <mat-icon 
                            (click)="saveTask(dokument.id)">
                            done
                        </mat-icon>
                        <mat-icon 
                            (click)="cancelEditTask(dokument.id)">
                            close
                        </mat-icon>
                    </span> -->
                </div>
                <div class="row">
                    <!--                     <div class="col-md-2 text-center">
                        <mat-icon class="icon " [ngStyle]="{'color': setColor(task.priority, task.status)}">{{setIcon(task.status)}}</mat-icon>
                    </div> -->
                    <div class="col-md-10">
                        <div>
                            <a class="name pointer" (click)="openDocument(dokument.document)">{{dokument.name}}</a>
                            <p>{{dokument?.description}}</p>
                        </div>
                        <!--  <div *ngIf="task.isEdit" class="edit-form">
                            <app-task-form 
                              [usersProject]="usersProject"
                              [projectID]="project?.id">                            
                            </app-task-form>
                        </div> -->
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="documents?.length > 0" class=" col-md-12 d-flex flex-row-reverse">
        <mat-paginator 
            class="paginator text-right"
            [pageIndex]="paginator.pageIndex"
            [length]="paginator.length"
            [pageSize]="paginator.pageSize"
            [pageSizeOptions]="paginator.pageSizeOptions"
            (page)="pageEvent = handlePage($event)">
        </mat-paginator>
    </div>

</div>