
.title {
    color: #FFBF29;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 20px;
}
.button-report {
    background-color: rgb(243, 205, 116);
    color: #424242;
}

.card {
    margin: 15px 0;
    letter-spacing: 1.5px;
}
.text-icon {
    font-size: 20px;
}
.iconEdit {
    color:rgb(243, 205, 116);
    cursor: pointer;
}
.tasks {
    color: white;
    margin-top: 10px;
}
.icon {
    align-content: center;
    font-size: 50px;
    color: rgb(243, 205, 116);
    padding-right: 48px;
}
.subtitle {
    color:rgb(243, 205, 116);    
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 20px;
}
.icon-edit-task {
    position: absolute;
    right: 15px;
    cursor: pointer;
    z-index: 3;
}

.icon-edit-task mat-icon:hover {
    color: rgb(236, 216, 170);
}
.edit-form {
    padding-top: 20px;
    padding-right: 30px;
}

.name {
    text-transform: uppercase;
    font-size: 16px;
    color: #f3cd74;
}
.date {
    position: absolute;
    right: 12px;
    bottom: -20px;
}

.add-task {    
    cursor: pointer;
    font-size: 11px;
    color: white;
}
.add-task mat-icon {
    font-size:30px;
}

.add-task:hover {
    color: #f3cd74;
}

  /* Change label color on focused */
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #FFBF29 !important;
  }
  
  /* underline border color on focused */
  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #FFBF29 !important;
  }

  ::ng-deep .mat-input-element {
    caret-color: #FFBF29 !important;
  }

 

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #FFBF29 !important;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color:#FFBF29 !important;
}

::ng-deep .mat-calendar-body-selected  {
    background-color: #FFBF29 !important;
}

::ng-deep .mat-datepicker-toggle-active {
    color: #FFBF29 !important;
}


::ng-deep .color-snackbar {
    background: #FFBF29 !important;
    color: white;
    position: absolute !important;
    top: 54px;
    right: 20px;
}
.paginator {
 background-color: #303030;
}

.container {
    margin-bottom: 13px;
}