.title {
    color: #FFBF29;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 20px;
}
.buttonAdd {
    background-color: #FFBF29;
    color: white;
}

.subtitle {
    color:rgb(243, 205, 116);    
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 20px;
}
.tasks {
    color: white;
    margin-top: 10px;
}
.icon {
    align-content: center;
    font-size: 50px;
    color: rgb(243, 205, 116);
    padding-right: 48px;
}

.card {
    margin: 15px 0;
    letter-spacing: 1.5px;
}
.text-icon {
    font-size: 20px;
}

.icon-edit-task {
    position: absolute;
    right: 15px;
    cursor: pointer;
    z-index: 3;
}

.icon-edit-task mat-icon:hover {
    color: rgb(236, 216, 170);
}

.no-tasks {
    color: white;
    margin: 20px;
}

.add-task {    
    cursor: pointer;
    font-size: 11px;
    color: white;
}
.add-task mat-icon {
    font-size:30px;
}

.add-task:hover {
    color: #f3cd74;
}

.name {
    text-transform: uppercase;
    font-size: 16px;
    color: #f3cd74;
}
.date {
    position: absolute;
    right: 12px;
    bottom: -20px;
}
.iconEdit {
    color:rgb(243, 205, 116);
    cursor: pointer;
}

.edit-form {
    padding-top: 20px;
    padding-right: 30px;
}

.paginator {
    background-color: #303030;
   }

.icon-custom {
    width: 100%;
    height: 100%;
}