<div class="container">

    <h2 class="title">
        Users
    </h2>

    <button routerLink="/auth/user/create" mat-button class="buttonAdd ">
        <mat-icon>add</mat-icon>
        Create user
    </button>

    <div class="row">
        <div class="col-md-12" *ngFor="let task of users">
            <mat-card class="card">
                <mat-card-content>
                    <div>
                        <span 
                            class="icon-edit-task"
                            *ngIf="!isEditEnable && !isAddEnable" >
                            <mat-icon                                 
                                (click)="enableEditing(task.id)">
                                edit
                            </mat-icon>
                        </span>
                        <span class="icon-edit-task"                        
                              *ngIf="task.isEdit"  >
                            <mat-icon 
                                (click)="saveTask(task.id)">
                                done
                            </mat-icon>
                            <mat-icon 
                                (click)="cancelEditTask(task.id)">
                                close
                            </mat-icon>
                        </span>                        
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <mat-icon [svgIcon]="setIcon(task.roles[0].name)" class="icon-custom"></mat-icon>
                        </div>
                        <div class="col-md-10">
                            <div *ngIf="!task.isEdit">                                
                                <p class="name" >{{task.name}}</p>
                                <p >{{task?.email}}</p>
                                <p >{{task?.profile?.phone}}</p>
                                <p>{{task?.project?.name}}</p>
                                <p class="date">{{task.expire_date}}</p>
                            </div>
                            <div *ngIf="task.isEdit" class="edit-form">
                                <app-task-form 
                                  [usersProject]="usersProject"
                                  [projectID]="project?.id">                            
                                </app-task-form>
                            </div>
                        </div>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="users?.length === 0" class="no-tasks">
            <p>
                This project has no ticks. Add new tasks.
            </p>   
        </div>
    
        <div *ngIf="users?.length > 0" class=" col-md-12 d-flex flex-row-reverse">
            <mat-paginator 
                class="paginator text-right"
                [pageIndex]="paginator.pageIndex"
                [length]="paginator.length"
                [pageSize]="paginator.pageSize"
                [pageSizeOptions]="paginator.pageSizeOptions"
                (page)="pageEvent = handlePage($event)">
            </mat-paginator>
        </div>
        
        
    </div>




</div>


<mat-icon svgIcon="admin"></mat-icon>
<mat-icon svgIcon="user"></mat-icon>
<mat-icon svgIcon="leader"></mat-icon>
<mat-icon svgIcon="client"></mat-icon>