<div class="container">

    <h2 class="title">
        Users
    </h2>

    <button routerLink="/auth/users/create" mat-button class="buttonAdd ">
        <mat-icon>add</mat-icon>
        Create user
    </button>

    <div class="row">
        <div class="col-md-12" *ngFor="let user of users">
            <mat-card class="card">
                <mat-card-content>
                    <div>
                        <span 
                            class="icon-edit-user"
                            *ngIf="!isEditEnable && !isAddEnable" >
                            <mat-icon                                 
                                (click)="enableEditing(user.id)">
                                edit
                            </mat-icon>
                        </span>
                        <span class="icon-edit-user"                        
                              *ngIf="user.isEdit"  >
                            <mat-icon 
                                (click)="saveUser(user.id)">
                                done
                            </mat-icon>
                            <mat-icon 
                                (click)="cancelEdit(user.id)">
                                close
                            </mat-icon>
                        </span>                        
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <mat-icon [svgIcon]="setIcon(user.roles[0].name)" class="icon-custom"></mat-icon>
                        </div>
                        <div class="col-md-10">
                            <div *ngIf="!user.isEdit">                                
                                <p class="name" >{{user.name}}</p>
                                <p >{{user?.email}}</p>
                                <p >{{user?.profile?.phone}}</p>
                                <p>{{user?.project?.name}}</p>
                                <p class="date">{{user.expire_date}}</p>
                            </div>
                            <div *ngIf="user.isEdit" class="edit-form">
                                <app-user-form>                            
                                </app-user-form>
                            </div>
                        </div>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngIf="users?.length === 0" class="no-users">
            <p>
                This project has no ticks. Add new user.
            </p>   
        </div>
    
        <div *ngIf="users?.length > 0" class=" col-md-12 d-flex flex-row-reverse">
            <mat-paginator 
                class="paginator text-right"
                [pageIndex]="paginator.pageIndex"
                [length]="paginator.length"
                [pageSize]="paginator.pageSize"
                [pageSizeOptions]="paginator.pageSizeOptions"
                (page)="pageEvent = handlePage($event)">
            </mat-paginator>
        </div>     
    </div>
</div>